<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="./assets/img/favicon.ico" type="image/x-icon">

    <!--(if target dev)><!-->
    <link rel="stylesheet" href="/build/assets/css/common.css"/>
    <link rel="stylesheet" href="/build/assets/css/main.css"/>
    <!--<!(endif)-->

    <!--(if target build)>
    <link rel="stylesheet" href="./assets/css/common.css?v={{random}}"/>
    <link rel="stylesheet" href="./assets/css/main.min.css?v={{random}}"/>
    <!(endif)-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100">

    <title>IntaQt</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-8">.col-md-8</div>
        <div class="col-md-8">.col-md-8</div>
        <div class="col-md-8">.col-md-8</div>
        <div class="col-md-8">.col-md-8</div>
        <div class="col-md-8">.col-md-8</div>
        <div class="col-md-8">.col-md-8</div>
        <div class="col-md-8">.col-md-8</div>
        <div class="col-md-8">.col-md-8</div>
        <div class="col-md-8">.col-md-8</div>
        <div class="col-md-8 col-md-offset-6">.col-md-8</div>
        <div class="col-md-10">.col-md-10</div>
    </div>
    <div class="row">
        <div class="col-md-72">.col-md-12</div>
        <div class="col-md-24">.col-md-24</div>
    </div>
    <div class="row">
        <div class="col-md-24">.col-md-24</div>
        <div class="col-md-24">.col-md-24</div>
        <div class="col-md-24">.col-md-24</div>
    </div>
    <div class="row">
        <div class="col-md-48">.col-md-48</div>
        <div class="col-md-48">
            .col-md-48
            <div class="row">
                <div class="row">
                    <div class="col-md-72 col-md-push-24">FIRST .col-md-72 .col-md-push-24</div>
                    <div class="col-md-24 col-md-pull-72">SECOND .col-md-24 .col-md-pull-72</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
